<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
	<h1>
		Welcome to {{title}}!!
	</h1>
	<pre>{{ sospechosos}}</pre>
	<h2>Here are some links to help you start: </h2>

<div class="container" id="tourpackages-carousel">
      

      <div class="row">
        
        <div  [@myAwesomeAnimation]='state' (click)="animateMe()"  ng-show="animate"  *ngFor="let Sos of sospechosos" class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
 <!--       <img  src="/assets/img/{{Sos.img}}" alt=""> -->
      <img src="http://placehold.it/500x300" alt="">
              <div class="caption">
                <h4>{{ Sos.nombre}}</h4>    

            </div>
          </div>
        </div>       

      </div><!-- End row -->
      
      <div class="row">
        
        <div  *ngFor="let Lugar of lugar" class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
          <!--  <img src="/assets/img/lugar/{{Lugar}}.png"> -->
               <img src="http://placehold.it/500x300" alt="">
              <div class="caption">
                <h4>{{ Lugar}}</h4>           

            </div>
          </div>
        </div>       

      </div><!-- End row -->


            <div class="row">
        
        <div  *ngFor="let Arma of arma" class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
<!--    	<img src="/assets/img/arma/{{Arma}}.png"> -->
     <img src="http://placehold.it/500x300" alt="">
              <div class="caption">
                <h4>{{ Arma}}</h4>           

            </div>
          </div>
        </div>       

      </div><!-- End row -->
      
    </div><!-- End container -->